* {
	margin:0px;
	padding:0px;
	
}
html
{
	overflow-x:auto;
	overflow-y:auto;
}
body {
	background: #000 url(img/bg.jpg) fixed center no-repeat;
	padding:0;
	font-family:"Trebuchet MS";
	font-weight:normal;
}

/* default links */
a img 
{
	border:0;
}
a:link
{ 
	color:#ebeb7d;
	text-decoration: none;
}
a:visited
{ 
	color:#ebeb7d;
	text-decoration: none;
} 
a:hover 
{ 
	color:#EBEBEB; 
}

/* wrapper */
div.header
{
	width: 1016px;
	background: url('img/mid.png');
	overflow-y: auto;
	overflow-x: hidden;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	margin: auto;
}
div.pageholder
{
	width: 1016px;
	background: url('img/mid.png');
	overflow: hidden;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	margin: auto;
}
div.footer
{
	width: 1030px;
	background:#1e4378;
	text-align:center;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-top: 1px solid #EBEBEB;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
}
div.footerdata
{
	width: 1016px;
	text-align:center;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-top: 1px solid #EBEBEB;
	margin-left: auto;
	margin-right: auto;
}
#datawrapper
{
	height: 600px;
	width: 1016px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Tables */
table {
	border-collapse: collapse;
	text-align: center;
	overflow: hidden;
}

td{
	color: #EBEBEB;
	font-size:14px;
	padding-top:1px;
	padding-bottom:1px;
}

.headercell
{
	background-color:#1e4378;
	font-size: 14px;
	font-family:helvetica;
	font-weight:bold;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid #EBEBEB;
	border-bottom: 2px solid #EBEBEB;
}

.footerheadercell
{
	background-color:#1e4378;
	font-size: 14px;
	font-family:helvetica;
	font-weight:bold;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}

.contentheadercell
{
	background-color:#1e4378;
	font-size: 14px;
	font-family:helvetica;
	font-weight:bold;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #EBEBEB;
}

.contentspanheadercell
{
	font-size: 14px;
	font-family:helvetica;
	font-weight:bold;
	padding-top: 10px;
	padding-bottom: 2px;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}

.contentemptyspacer
{
	height: 10px
}

.thtop
{
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-top: 1px solid #EBEBEB;
}
.row
{
	color: #EBEBEB;
}
.row:hover
{
	color: #000000;
	background-color: #3A3A3A;
}
.rowuh
{
	color: #EBEBEB;
	font-size: 14px;
	font-family:helvetica;
	font-weight:bold;
}


/* header & nav */
div.menu {
	margin:0 auto;
}
div.nav {
	width: 1030px;
	background:#1e4378;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	height: 30px;
	margin: auto;
}

div.nav ul {
	list-style:none;
	padding:0 0 0 10px;
	margin:0;
	position:relative;
}
div.nav ul li {
	display:inline;
	float: left;
}
div.nav ul li a, div.nav ul li a:visited {
	float:left;
	margin:0 0px;
	padding:7px 10px 0px 10px;
	height:23px;
	text-decoration:none;
	color:#ebeb7d;
	font-weight:bold;
	font-size:14px;
	font-family:Helvetica;
}
div.nav ul li a:hover {
	background-color:#142d51;
	color:#EBEBEB;
}


/* headers */
h1 {
	text-align:left;
	color:#EBEBEB;
	font-family: sans-serif;
	font-size:2em;
	font-weight: normal;
	padding-left:60px;
}
h2 {
font-family: Helvetica;
	text-align: center;
	font-size:2em;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #E6E6E6;
}
h3 {
	font-size:1.5em;
	color: #E6E6E6;
	font-weight:normal;
}
h4 {
	font-size:1.25em;
	color: #E6E6E6;
}
h5{
	text-align: center;
	font-size:13pt;
	color:#E6E6E6;
	font-weight: bold;
}

/* default forms */
form {}
form input, form textarea {
	border:0px solid #E6E6E6;
	background: transparent;
	padding:0px;
	width:40px;
	color:#E6E6E6;
	text-align: center;
	text-decoration:none;
	color:#eee;
	font-weight:bold;
	font-size:14px;
	font-family:Helvetica;
}
form input:hover
{
	background: #453e66;
}
form input.formbutton {
	background:#5E008D url('images/nav-bg.png') repeat-x scroll bottom left;
	color:#EBEBEB;
	font-size:0.9em;
	border:1px solid #220033;
	font-weight:bold;
	font-family:Helvetica, sans-serif;
}

.sentinel
{
	color:#e56879;
	text-align: left;
}
.scourge
{
	text-align: right;
	color:#86E573;

}
.all
{
	text-align:center;
	color:#E6E6E6;
}

.sentinelheader
{
	color:#e56879; 
	padding-top:5px;
	padding-bottom:5px; 	
	border-bottom:1px solid #EBEBEB;
	text-align: center;
}
.scourgeheader
{
	color:#86E573; 
	padding:5px; 
	border-bottom:1px solid #EBEBEB;
	border-top:1px solid #EBEBEB;
	text-align: center;
}


.shown {
  display: block;
}
.hidden {
  display: none;
}
.searchBox
{
	width: 115px;
	height:25px;
	font-weight:bold;
	font-size:14px;
	font-family:Helvetica;
	padding:5px 10px 0px 10px;
}
.searchBox:hover
{
background-color:#142d51;
}


/* misc classes */
*:focus {
	outline:none;
}
.clear {
	clear:both;
}

/* Colors */
.red {
  color: #DD0000;
}

.blue {
  color: #3333FF;
}

.teal {
  color: #00EEEE;
}

.purple {
  color: #7711AA;
}

.yellow {
  color: #FFFF00;
}

.orange{
  color: #FF9900 ;
}

.dark-green {
  color: #24573d;
}

.pink {
  color: #FF66CC;
}

.gray {
  color: #888888;
}

.light-blue {
  color: #55BBEE;
}

.darkgreen {
  color: #006F3F;
}

.brown {
  color: #6F3F00;
}

.observer {
  color: #FFFFFF;
}

.system {
  color: #EBEBEB;
  text-align: center;
}
.ddd {
 color: #ddd;
}
a.banned{
 color: #e56879;
}
.won{
 color: #86E573;
}
.lost{
 color: #e56879;
}
.draw{
 color: #ebeb7d;
}
a.sentinel{
 color: #e56879;
}
a.scourge{
 color: #86E573;
}
.refreshbutton{
 width:80px;
 color: #ebeb7d;
}